{% extends 'users/base.html' %}

{% block head_content %}
<title>Fleetingram sign in</title>

{% endblock head_content %}

{% block container %}

    {% if form.errors %}

        <p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
   
    {% endif %}

    <form method='POST' action='{% url "users:login" %}'>

        {% csrf_token %}
        <div class='mb-3 px-2 row'>
            <input type='text' placeholder='Username' class='form-control' id='username' name='username'>
        </div>
        <div class='mb-3 px-2 row'>

            <input type='password' placeholder='Password' class='form-control' id='password' name='password'>
        </div>

        <div class="d-grid">
          <button type="submit" name="" id="" class="btn btn-primary mt-2 btn-block">Sign in</button>
        </div>
    </form>

    <p class="mt-4">
        Don't have an account yet?
        <a name="" id="" href="{% url 'users:signup' %}" >Sign up here.</a>
    </p>

{% endblock container %}