{% extends 'users/base.html' %}

{% block head_content %}
<title>Fleetingram Sign up</title>
{% endblock head_content %}

{% block container %}

    <form action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}

        <div class='row'>
            <label for="id_username">User info</label>
            <div class="col-sm-12 mb-2">
            <input type='text' placeholder='username' class='form-control' id='id_username' name='username'>
            </div>
        </div>
        <div class='row'>
            <label for="id_password">Security section</label>
            <div class="col-sm-12 col-md-6 mb-2">
            <input type='password' placeholder='password' class='form-control' id='id_password' name='password'>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
            <input type='password' placeholder='password_confirmation' class='form-control' id='id_password_confirmation' name='password_confirmation'>
            </div>
        </div>

        <div class='row'>
            <label for="id_first_name">Personal info section</label>
            <div class="col-sm-12 col-md-6 mb-2">
            <input type='text' placeholder='first_name' class='form-control' id='id_first_name' name='first_name'>
            </div>
            <div class="col-sm-12 col-md-6 mb-2">
            <input type='text' placeholder='last_name' class='form-control' id='id_last_name' name='last_name'>
            </div>
        </div>

        <div class='row'>
            <div class="col-sm-12 mb-2">
            <input type='email' placeholder='email' class='form-control' id='id_email' name='email'>
            </div>
        </div>

        <div class="d-grid">
          <button class="btn btn-primary btn-block mt-3" type="submit">Register!</button>
        </div>



    </form>

{% endblock %}